* {
	color-principal : #256E5D;
}

/*
 * Text
 */
.label{
	-fx-font-family: ARIAL;
	-fx-font-weight: BOLD;
	-fx-text-fill: color-principal;
}

.error-label {
	-fx-font: NORMAL ITALIC 12 "CONSOLAS";
    -fx-text-fill: RED;
}

/*
 * Buttons
 */
 .button {
	-fx-cursor: HAND;
	-fx-background-radius : 6;	
	-Jfx-button-type : RAISED;
	-fx-font-family: CONSOLAS;	
	-fx-font-size: 13;
	-fx-prompt-text-fill:  WHITE;
	-fx-background-color: color-principal;
	-fx-text-fill: WHITE;
	
}

.button:hover {
    -fx-background-color: transparent, derive(color-principal, 35%);
}

/*
 * Text field
 */
.text-field {
	-fx-cursor: TEXT;
	-fx-font-family: CONSOLAS;	
	-fx-font-size: 14;
	-fx-text-fill: BLACK;
	-jfx-label-float: true;		
	-fx-prompt-text-fill: color-principal;
	-jfx-focus-color: color-principal;
	-jfx-unfocus-color: color-principal;
}

/* 
 * Combo box
 */
.combo-box {
	-fx-cursor: HAND;
	-Jfx-button-type : RAISED;
	-fx-font-family: CONSOLAS;	
	-fx-font-size: 14;	
	-fx-text-fill: BLACK;
	-jfx-label-float: true;		
	-fx-prompt-text-fill: color-principal;
	-jfx-focus-color: color-principal;
	-jfx-unfocus-color: color-principal;
}

.combo-box .list-cell {
	-fx-text-fill: BLACK;
}

.combo-box .arrow,
.choice-box .arrow {
    -fx-background-color: color-principal;   
}
/*
 * Input error
 */
.errorInput {
	-jfx-focus-color: RED;
	-jfx-unfocus-color: RED;
	-fx-prompt-text-fill: RED;
}
